@page
@model HeroesStats.Pages.MatchModel
@{
}
<h2>@Model.Match.TeamA.Name vs. @Model.Match.TeamB.Name Match @Model.Match.NumberInSeries of @Model.Match.BestOfN</h2>

<p>@Model.Match.Map.Name - @Model.Match.Date.ToShortDateString()</p>
